In [13]:
from pandas import Series
series1=Series([1,2,3,4,5])
series2=Series([100,200,300,400,500,600])

In [14]:
series1+series2

0    101.0
1    202.0
2    303.0
3    404.0
4    505.0
5      NaN
dtype: float64

In [15]:
from pandas import DataFrame
data1={'speed':[100,200,300],
      'temp':[12,56,45]}
data1

{'speed': [100, 200, 300], 'temp': [12, 56, 45]}

In [16]:
frame1=DataFrame(data1)

In [17]:
frame1

   speed  temp
0    100    12
1    200    56
2    300    45

In [18]:
data2={'speed':[100,200,300],
      'temp':[12,56,45],
      'humidity':[78,90,67]}
data2

{'speed': [100, 200, 300], 'temp': [12, 56, 45], 'humidity': [78, 90, 67]}

In [19]:
frame2=DataFrame(data2)

In [20]:
frame2

   speed  temp  humidity
0    100    12        78
1    200    56        90
2    300    45        67

In [21]:
frame1+frame2

   humidity  speed  temp
0       NaN    200    24
1       NaN    400   112
2       NaN    600    90

In [22]:
frame2-series2

    0   1   2   3   4   5  humidity  speed  temp
0 NaN NaN NaN NaN NaN NaN       NaN    NaN   NaN
1 NaN NaN NaN NaN NaN NaN       NaN    NaN   NaN
2 NaN NaN NaN NaN NaN NaN       NaN    NaN   NaN